.gradient-background {
  background: linear-gradient(300deg, #6524A6, maroon, #F2EA79);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title{
font-family: 'Condiment', cursive;
}
.subtitle{
  font-family: 'Josefin Sans', sans-serif;
}
/* #03658C original color instead of maroon */